<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{303,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{303,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{605,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{907,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1209,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1511,1},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{605,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{605,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{907,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{907,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1209,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1511,603},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1209,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,600}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1511,1205},{300,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>testHuban.png</string>
            <key>size</key>
            <string>{1812,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2d6e3c72624a4ac3a9417a821255b0:e1fd36412fa1e69c82191f8e8ad75234:c943024810c30a3823e0c771e426946f$</string>
            <key>textureFileName</key>
            <string>testHuban.png</string>
        </dict>
    </dict>
</plist>
