<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,86}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{507,577},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,108}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{797,1405},{224,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,107}</string>
                <key>spriteSize</key>
                <string>{222,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{837,719},{222,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,105}</string>
                <key>spriteSize</key>
                <string>{222,112}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{683,1343},{222,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,103}</string>
                <key>spriteSize</key>
                <string>{220,116}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{807,1183},{220,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,101}</string>
                <key>spriteSize</key>
                <string>{220,122}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{683,1121},{220,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,100}</string>
                <key>spriteSize</key>
                <string>{218,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1271,1153},{218,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,98}</string>
                <key>spriteSize</key>
                <string>{218,134}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1285,499},{218,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,97}</string>
                <key>spriteSize</key>
                <string>{216,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1277,719},{216,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,95}</string>
                <key>spriteSize</key>
                <string>{214,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1271,937},{214,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,93}</string>
                <key>spriteSize</key>
                <string>{214,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1245,1373},{214,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,80}</string>
                <key>spriteSize</key>
                <string>{212,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,1583},{212,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,80}</string>
                <key>spriteSize</key>
                <string>{210,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{671,1631},{210,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,81}</string>
                <key>spriteSize</key>
                <string>{208,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1353,1617},{208,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,44}</string>
                <key>spriteSize</key>
                <string>{204,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1103,1589},{204,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,43}</string>
                <key>spriteSize</key>
                <string>{202,252}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{899,1521},{202,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,7}</string>
                <key>spriteSize</key>
                <string>{202,328}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{507,719},{202,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{200,328}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,917},{200,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,9}</string>
                <key>spriteSize</key>
                <string>{198,330}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1419,961},{198,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,10}</string>
                <key>spriteSize</key>
                <string>{198,330}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1619,1083},{198,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,11}</string>
                <key>spriteSize</key>
                <string>{196,332}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{491,923},{196,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{194,332}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{937,1125},{194,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{192,332}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1603,1415},{192,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{190,334}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{491,1121},{190,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,14}</string>
                <key>spriteSize</key>
                <string>{190,334}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,1247},{190,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,15}</string>
                <key>spriteSize</key>
                <string>{188,336}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{481,1457},{188,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,16}</string>
                <key>spriteSize</key>
                <string>{220,336}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1421,287},{220,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,17}</string>
                <key>spriteSize</key>
                <string>{218,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1643,409},{218,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,18}</string>
                <key>spriteSize</key>
                <string>{218,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{605,499},{218,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,19}</string>
                <key>spriteSize</key>
                <string>{216,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,577},{216,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,20}</string>
                <key>spriteSize</key>
                <string>{214,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{945,499},{214,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-12}</string>
                <key>spriteSize</key>
                <string>{212,406}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1661,1},{212,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-12}</string>
                <key>spriteSize</key>
                <string>{210,406}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{605,287},{210,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-11}</string>
                <key>spriteSize</key>
                <string>{210,406}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1013,287},{210,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-48}</string>
                <key>spriteSize</key>
                <string>{208,334}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1421,625},{208,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-48}</string>
                <key>spriteSize</key>
                <string>{206,332}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1631,749},{206,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-49}</string>
                <key>spriteSize</key>
                <string>{204,330}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{945,715},{204,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-48}</string>
                <key>spriteSize</key>
                <string>{202,324}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{945,921},{202,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-49}</string>
                <key>spriteSize</key>
                <string>{200,322}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1401,1293},{200,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-50}</string>
                <key>spriteSize</key>
                <string>{198,318}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{925,1321},{198,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-90}</string>
                <key>spriteSize</key>
                <string>{110,238}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{825,943},{110,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-52}</string>
                <key>spriteSize</key>
                <string>{288,314}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,287},{288,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{286,364}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-29}</string>
                <key>spriteSize</key>
                <string>{286,362}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,367},{286,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{286,358}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,731},{286,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-33}</string>
                <key>spriteSize</key>
                <string>{286,354}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,1091},{286,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-35}</string>
                <key>spriteSize</key>
                <string>{286,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1,1447},{286,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-37}</string>
                <key>spriteSize</key>
                <string>{284,346}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{289,1},{284,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-39}</string>
                <key>spriteSize</key>
                <string>{284,342}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{637,1},{284,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-42}</string>
                <key>spriteSize</key>
                <string>{284,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{981,1},{284,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-46}</string>
                <key>spriteSize</key>
                <string>{284,338}</string>
                <key>spriteSourceSize</key>
                <string>{300,600}</string>
                <key>textureRect</key>
                <string>{{1321,1},{284,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>testHuban1.png</string>
            <key>size</key>
            <string>{1874,1810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2c83b8dbb2c09ceee841f001a39ec0:79f8d002df7dfe37b7534e497f61e172:7cd32132884ecc649fe71b1496232cb9$</string>
            <key>textureFileName</key>
            <string>testHuban1.png</string>
        </dict>
    </dict>
</plist>
