<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>box_yaobai_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{198,218}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{417,401},{198,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{198,218}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{417,401},{198,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{198,218}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{417,401},{198,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{202,216}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{641,203},{202,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-6}</string>
			<key>spriteSize</key>
			<string>{210,200}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{647,1},{210,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-8}</string>
			<key>spriteSize</key>
			<string>{214,196}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{205,667},{214,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-5}</string>
			<key>spriteSize</key>
			<string>{218,202}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{1,667},{218,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{196,226}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{419,1},{196,226}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,6}</string>
			<key>spriteSize</key>
			<string>{196,224}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{1,887},{196,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{202,214}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{403,803},{202,214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{200,218}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{637,407},{200,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{198,216}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{635,609},{198,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{202,214}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{607,809},{202,214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,0}</string>
			<key>spriteSize</key>
			<string>{200,214}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{403,1019},{200,214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{204,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{213,1},{204,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,4}</string>
			<key>spriteSize</key>
			<string>{204,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{1,445},{204,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{208,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{1,223},{208,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,3}</string>
			<key>spriteSize</key>
			<string>{210,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{1,1},{210,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{206,216}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{207,445},{206,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{200,214}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{619,1013},{200,214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{202,216}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{199,887},{202,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,3}</string>
			<key>spriteSize</key>
			<string>{204,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{211,223},{204,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_yaobai_00022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,3}</string>
			<key>spriteSize</key>
			<string>{200,220}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{419,199},{200,220}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_yaobai_00023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,2}</string>
			<key>spriteSize</key>
			<string>{200,218}</string>
			<key>spriteSourceSize</key>
			<string>{260,260}</string>
			<key>textureRect</key>
			<string>{{415,601},{200,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>test1.png</string>
		<key>size</key>
		<string>{858,1220}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:761bbe024ed754e0fff5ed9f8dffe2f8:efb0b2cc76dfb6e366400344fbce93df:1e4243132e2cc643f6d225e7942b8f2e$</string>
		<key>textureFileName</key>
		<string>test1.png</string>
	</dict>
</dict>
</plist>
